 
 #imagen2{
  width: 30%;
  height: 30%;
 }

 #imagen1, #imagen3{
  width: 40%;
  height: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 10px;
}
#titulo-html, #titulo-php{
  color: black;
  font-size: 40px;
  text-shadow:  3px 3px 3px rgba(80, 98, 107, 0.671);
  position: relative;
  font-weight: bold;
  margin-bottom:20px ;
  margin-top: 20px;
  text-align:center;
}
#pag-principal *{
  margin: 20px;
}
#pag-principal-php *{
  margin: 20px;
}

*{
  margin: 0px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#imagen1-html{
  width: 40%;
  height: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2px;
}
#imagen2-html{
  width: 30%;
  height: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

h2{
    text-align: center;
}

#lista{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(29, 135, 197, 0.726) ;
}

#lista li{
  margin: 5px;
  
  float: left;
}

#lista li a{
  display: block;
  color: white;
  text-align: center;
  padding: 10px 10px;
  text-decoration:none;
}
#lista li a:hover{
  color: darkblue;
}

#footer ul li{
  display:grid;
  width: 97%;
  border: rgba(29, 135, 197, 0.726) 2px solid;
  border-radius: 10px;
  margin: 20px;
}
#footer{
  margin: 20px;
  border: rgba(15, 15, 14, 0.726) 2px solid;
  border-radius: 10px;
}

#ul-footer li:hover{
  border: rgba(29, 135, 197, 0.726) 2px solid;
  border-radius: 10px;
  background-color: rgba(29, 135, 197, 0.726);
  color: white;
}
#form{
  width: 30%;
  margin: auto;
  margin-top: 5px;
  border: rgba(29, 135, 197, 0.726) 2px solid;
  border-radius: 10px;
  margin-top: 50px;
  padding: 20px;
  text-align: center;
}
#form label, #form input, #form select{
  margin:10px;
  
}
#ul-footer{
  display:inline;
  text-align: center;
  margin: 10px;
}
#boton-leer{
  display: flex;
  justify-content: center;
  background-color: cadetblue;
}